NEXT_PUBLIC_STELLAR_NETWORK=testnet
NEXT_PUBLIC_STELLAR_RPC_URL=https://soroban-testnet.stellar.org
NEXT_PUBLIC_FACTORY_CONTRACT_ID=CC56AKO3H3FJS3O6C4MKJK4QTHPXLZQMUPVRVZUXRYPYMO65AD3LNVUL
NEXT_PUBLIC_ESCROW_CONTRACT_ID=CCXUWIED3RKTFDZQH75D7BMG2N73VNNYQZSCX6KCAHIPRSPROOXTIXH7
NEXT_PUBLIC_REFUND_MANAGER_CONTRACT_ID=CBXSHHMMQSNX35R6BEHBT63I2BQEJFIBLKW5NMEC4ZNR4OQDO5YGWOXY
NEXT_PUBLIC_INVESTMENT_CAMPAIGN_WASM_HASH=ed27f0f147d633bf29f4e5e37c119b24c62fce499447b5b2ee0392e1516bf69b
NEXT_PUBLIC_XLM_TOKEN_CONTRACT_ID=CDLZFC3SYJYDZT7K67VZ75HPJVIEUVNIXF47ZG2FB2RMQQVU2HHGCYSC
NEXT_PUBLIC_STELLAR_READ_SOURCE_ACCOUNT=GCK7A2SQAHZVIMAE3FWZLNWBUH3UQUCHBGEAOGSZOEZAYPNP3OBAFWLE
